@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vw;
  pointer-events: none;
}

.info_tile {
  border-bottom: 2px solid #6d55bb;
}