@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Itim";
  src: url("./fonts/Itim-Regular.ttf");
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vw;
  pointer-events: none;
}

/*.info_tile {*/
/*  border-bottom: 2px solid #6d55bb;*/
/*}*/

.infos {
  font-family: Itim, sans-serif;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 10px;
  color: white;
  background: rgb(234, 65, 255);
  background: linear-gradient(90deg, rgba(234, 65, 255, 1) 0%, rgba(58, 168, 255, 1) 100%);
}